body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}

.container {
  margin: 200px auto;
  max-width:500px;
}

#display {
  padding:1em;
  font-size: 3em;
  font-weight: 100;
}

.time  {
  font-weight: 100;

}

button {
  font-size: 1.5em;
  font-weight: 100;
  width:150px;
  height:50px;
  background: none;
  border: 1px solid black;
  border-radius: 25px;
  transition: .1s;
  outline: none;
}

button:hover {
  background: #333;
  color: white;
  border: 1px solid lime;
}

button:active {
  background: lime;
  color: black;
  border: 1px solid black;
}

.logs {
  list-style: none;
  font-size: 1.3em;
  text-decoration: none;
  width: 100%;
  font-weight: 100;
}

.log-items {
  margin: 15px auto;
  background: #999;
  padding: .5em;
  width:50%;
  border-radius: 1em;
}


.title,
.subtitle {
  letter-spacing: 3px;
  font-weight: 100;
}

.subtitle {
  margin-top: 2em;
}
